
<h1>HOME</h1>

<h2>Chores</h2>

<section *ngIf="(chores | async)?.length > 0; then list; else empty"></section>
<ng-template #list>
  <ol data-cy="chores">
    <li *ngFor="let chore of chores | async">
      <label data-cy="chore" (click)="onShowChoreDetails(chore)">{{
        chore.description
      }}</label>
      <button data-cy="delete-chore" (click)="onDeleteChore(chore.id)">
        X
      </button>
    </li>
  </ol>
  <section *ngIf="selectedChore" data-cy="chore-details">
    <h3>Chore Details</h3>
    <p>Chore: {{ selectedChore | json }}</p>
    <button (click)="onHideChoreDetails()" data-cy="hide-chore-details">
      Hide Details
    </button>
  </section>
</ng-template>
<ng-template #empty>
    <h3 data-cy="no-chores">No Chores Yet!</h3>
</ng-template>

<section data-cy="add-new-chore">
  <h3>Add New Chore</h3>
  <form [formGroup]="choreForm" (ngSubmit)="onSubmitNewChore()">
    <label>
      Description:
      <input
        type="text"
        formControlName="description"
        data-cy="chore-description"
      />
    </label>
    <br />
    <label>
      Difficulty:
      <input
        type="range"
        formControlName="difficulty"
        data-cy="chore-difficulty"
      />
    </label>
    <section formArrayName="tasks">
      <h3>Tasks</h3>
      <button type="button" (click)="onAddTask()" data-cy="add-chore-task">
        Add Tasks
      </button>
      <div *ngFor="let task of tasks.controls; let i = index">
        <label>
          Task {{ i }}:
          <input type="text" [formControlName]="i" data-cy="chore-task" />
        </label>
      </div>
    </section>
    <button
      type="submit"
      [disabled]="!choreForm.valid"
      data-cy="submit-new-chore"
    >
      Submit New Chore
    </button>
  </form>
</section>
<button data-cy="delete-all-chores" (click)="onDeleteAllChores()">
  Delete All Chores
</button>
