<cm-alert></cm-alert>

<button (click)="onOpenAlert()">Open Alert</button>

<h1>HOME</h1>

<h2>Chores</h2>

<cm-chore-list 
  [chores]="chores | async" 
  (select)="onSelectChore($event)" 
  (delete)="onDeleteChore($event)"
  (deleteAll)="onDeleteAllChores()">
</cm-chore-list>

<section *ngIf="selectedChore" data-cy="chore-details">
  <h3>Chore Details</h3>
  <p>Chore: {{ selectedChore | json }}</p>
  <button (click)="onClickChoreDetails()" data-cy="hide-chore-details">
    Hide Details
  </button>
</section>

<section data-cy="add-new-chore">
  <h3>Add New Chore</h3>
  <form [formGroup]="choreForm" (ngSubmit)="onSubmitNewChore()">
    <label>
      Description:
      <input
        type="text"
        formControlName="description"
        data-cy="chore-description"
      />
    </label>
    <br />
    <label>
      Difficulty:
      <input
        type="range"
        formControlName="difficulty"
        data-cy="chore-difficulty"
      />
    </label>
    <section formArrayName="tasks">
      <h3>Tasks</h3>
      <button type="button" (click)="onAddTask()" data-cy="add-chore-task">
        Add Tasks
      </button>
      <div *ngFor="let task of tasks.controls; let i = index">
        <label>
          Task {{ i }}:
          <input type="text" [formControlName]="i" data-cy="chore-task" />
        </label>
      </div>
    </section>
    <button
      type="submit"
      [disabled]="!choreForm.valid"
      data-cy="submit-new-chore"
    >
      Submit New Chore
    </button>
  </form>
</section>